<template>
  <q-page class="q-pa-lg">
    <h5 class="q-mt-none">Editor</h5>
    <div class="q-pa-md q-gutter-sm">
      <q-editor
        v-model="editor"
        ref="targetRef"
        :toolbar="[
          ['bold', 'italic', 'strike', 'underline'],
          ['token'],
          ['removeFormat']
        ]"
      >
        <template v-slot:token>
          <q-btn-dropdown
            dense
            no-caps
            ref="token"
            no-wrap
            unelevated
            color="white"
            text-color="primary"
            label="Text Color"
            size="sm"
          >
            <q-list dense>
              <q-item tag="label" clickable @click="color('backColor', highlight)">
                <q-item-section side>
                  <q-icon name="highlight" />
                </q-item-section>
                <q-item-section>
                  <q-color
                    v-model="highlight"
                    default-view="palette"
                    no-header
                    no-footer
                    :palette="[
                      '#ffccccaa',
                      '#ffe6ccaa',
                      '#ffffccaa',
                      '#ccffccaa',
                      '#ccffe6aa',
                      '#ccffffaa',
                      '#cce6ffaa',
                      '#ccccffaa',
                      '#e6ccffaa',
                      '#ffccffaa',
                      '#ff0000aa',
                      '#ff8000aa',
                      '#ffff00aa',
                      '#00ff00aa',
                      '#00ff80aa',
                      '#00ffffaa',
                      '#0080ffaa',
                      '#0000ffaa',
                      '#8000ffaa',
                      '#ff00ffaa'
                    ]"
                    class="my-picker"
                  />
                </q-item-section>
              </q-item>
              <q-item tag="label" clickable @click="color('foreColor', foreColor)">
                <q-item-section side>
                  <q-icon name="format_paint" />
                </q-item-section>
                <q-item-section>
                  <q-color
                    v-model="foreColor"
                    no-header
                    no-footer
                    default-view="palette"
                    :palette="[
                      '#ff0000',
                      '#ff8000',
                      '#ffff00',
                      '#00ff00',
                      '#00ff80',
                      '#00ffff',
                      '#0080ff',
                      '#0000ff',
                      '#8000ff',
                      '#ff00ff'
                    ]"
                    class="my-picker"
                  />
                </q-item-section>
              </q-item>
            </q-list>
          </q-btn-dropdown>
        </template>
      </q-editor>
      <div></div>
    </div>
  </q-page>
</template>

<script>
import { defineComponent, ref, getCurrentInstance } from 'vue'

export default defineComponent({
  name: 'PageIndex',
  setup() {
    const foreColor = ref('#000000')
    const highlight = ref('#ffff00aa')
    const editor = ref('Select some text,' + ' then select a highlight or text color!')
    const targetRef = ref(null)
    const token = ref(null)
    const { proxy } = getCurrentInstance()

    function color(cmd, name) {
      proxy.token.hide()
      proxy.targetRef.runCmd(cmd, name)
      proxy.targetRef.focus()
    }

    return {
      foreColor,
      highlight,
      editor,
      color,
      targetRef,
      token,
      proxy
    }
  }
})
</script>

<style lang="sass" scoped>
.my-picker
  max-width: 150px
</style>
