<template>
  <q-page class="q-pa-lg">
    <h5 class="q-mt-none">Help</h5>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil quasi, vel fugit excepturi repellendus soluta iusto modi placeat necessitatibus sed voluptas possimus facilis reprehenderit porro dolorum error recusandae, animi deleniti.</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil quasi, vel fugit excepturi repellendus soluta iusto modi placeat necessitatibus sed voluptas possimus facilis reprehenderit porro dolorum error recusandae, animi deleniti.</p>
  </q-page>
</template>

<script>
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'PageIndex'
})
</script>
