<template>
  <q-page class="bg-grey-3 column">
    <div class="row q-pa-sm bg-teal-1">
      <q-input
          @keyup.enter="addTask"
          v-model="newTask"
          class="col"
          square
          filled
          placeholder="Add task"
          bg-color="white"
          dense
      >
        <template v-slot:append>
          <q-btn
            round
            dense
            flat
            icon="add"
            @click="addTask"
          />
        </template>
      </q-input>
    </div>
    <q-list
      class="bg-white"
      separator
      bordered
    >
      <q-item
        v-for="(task, index) in tasks"
        :key="task.title"
        @click="PopupNotify(index)"
        :class="{'done bg-blue-1': task.done}"
        clickable
        v-ripple>
        <q-item-section avatar>
          <q-checkbox color="pink-6" v-model="task.done" class="no-pointer-events" />
        </q-item-section>
        <q-item-section>
          <q-item-label>{{task.title}}</q-item-label>
        </q-item-section>
        <q-item-section
          side
        >
          <q-btn
            @click.stop="deleteTask(index, 'open')"
            flat
            round
            dense
            color="primary"
            icon="delete" />
        </q-item-section>
      </q-item>
    </q-list>
    <div
      class="no-tasks absolute-center"
      v-if="!tasks.length"
      >
      <q-icon
        name="check"
        size="100px"
        color="primary"
      />
      <div class="text-h5 text-primary text-center">
        No tasks
      </div>
    </div>
  </q-page>
</template>

<script>
import { defineComponent, reactive, ref } from 'vue'
import { useQuasar } from 'quasar'

export default defineComponent({
  name: 'PageIndex',
  setup () {
    const $q = useQuasar()
    const newTask = ref('')
    const tasks = reactive([
      {
        title: 'Get bananas',
        done: false
      },
      {
        title: 'Eat bananas',
        done: false
      },
      {
        title: 'Poo bananas',
        done: false
      }
    ])

    function addTask () {
      if (newTask.value === '') {
        $q.notify({
          message: 'empty task name',
          color: 'red-6'
        })
      } else {
        tasks.push({
          title: newTask.value,
          done: false
        })
        $q.notify({
          message: `Add new task - ${newTask.value}`,
          color: 'pink-2'
        })
        newTask.value = ''
      }
    }

    function PopupNotify (target) {
      const notifyTarget = this.tasks[target].title
      if (this.tasks[target].done === false) {
        this.tasks[target].done = true
        $q.notify({
          message: `Done for task - ${notifyTarget}`,
          color: 'green'
        })
      } else {
        this.tasks[target].done = false
        $q.notify({
          message: `Rollback task - ${notifyTarget} to list`,
          color: 'purple'
        })
      }
    }

    function deleteTask (index, action) {
      $q.dialog({
        title: 'Confirm',
        message: 'Really delete?',
        cancel: true,
        persistent: true
      }).onOk(() => {
        this.tasks.splice(index, 1)
        $q.notify({
          message: 'Task delete',
          color: 'purple'
        })
      })
    }

    return {
      tasks,
      deleteTask,
      PopupNotify,
      newTask,
      addTask
    }
  }
})
</script>

<style lang="scss">
.done {
    .q-item__label {
      text-decoration: line-through;
      color: #bbb;
    }
}

.no-tasks {
  opacity: 0.5;
}
</style>
