<template>
  <q-layout view="lHh Lpr lFf">
    <q-header>
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="toggleLeftDrawer"
        />
      </q-toolbar>
      <div class="q-px-lg q-pt-xl q-mb-md">
        <div class="text-h3">ToDo</div>
        <div class="text-subtitle1">{{ formattedString }}</div>
      </div>
      <q-img
        src="~assets/statics/sea.jpg"
        class="header-image absolute-top"
        />
    </q-header>

    <q-drawer
        v-model="leftDrawerOpen"
        show-if-above
        :width="200"
        :breakpoint="600"
      >
        <q-scroll-area style="height: calc(100% - 192px); margin-top: 192px; border-right: 1px solid #ddd">
          <q-list padding>
            <q-item to="/" exact clickable v-ripple active-class="bg-yellow-1">
              <q-item-section avatar>
                <q-icon name="list" />
              </q-item-section>
              <q-item-section>
                Todo
              </q-item-section>
            </q-item>
            <q-item to="/help" exact clickable v-ripple active-class="bg-yellow-1">
              <q-item-section avatar>
                <q-icon name="help" />
              </q-item-section>
              <q-item-section>
                Help
              </q-item-section>
            </q-item>
            <q-item to="/editor" exact clickable v-ripple active-class="bg-yellow-1">
              <q-item-section avatar>
                <q-icon name="favorite_border" />
              </q-item-section>
              <q-item-section>
                Editor
              </q-item-section>
            </q-item>
          </q-list>
        </q-scroll-area>

        <q-img class="absolute-top bg-brown-3" style="height: 192px">
          <div class="absolute-bottom bg-transparent">
            <q-avatar size="50px" class="q-mb-sm">
              <img src="~assets/statics/danny.jpg">
            </q-avatar>
            <div class="text-weight-bold text-blue-10">OPS Danny</div>
            <div>@Danny_Wu</div>
          </div>
        </q-img>
      </q-drawer>

    <q-page-container>
      <router-view v-slot="{ Component }">
        <keep-alive>
          <component :is="Component" />
        </keep-alive>
      </router-view>
    </q-page-container>
  </q-layout>
</template>

<script>

import { defineComponent, ref } from 'vue'
import { date } from 'quasar'

export default defineComponent({
  name: 'MainLayout',
  setup () {
    const leftDrawerOpen = ref(false)
    const formattedString = ref()

    function initialize () {
      setInterval(() => {
        formattedString.value = date.formatDate(Date.now(), 'YYYY/MM/DD HH:mm:ss')
      }, 1000)
    }

    initialize()

    return {
      leftDrawerOpen,
      toggleLeftDrawer () {
        leftDrawerOpen.value = !leftDrawerOpen.value
      },
      initialize,
      formattedString
    }
  }
})
</script>

<style lang="scss">
.header-image {
  height: 100%;
  z-index: -1;
  opacity: 0.8;
  filter: saturate(0.5);
}
</style>
